.subheader {
    display: block;
    padding: 5px;
    background: #F8F9FA;
    margin: 5px auto;
    text-align: center;
}

.footer {
    padding: 10px;
    background: #F8F9FA;
    margin: 5px auto;
    text-align: center;
}

.home {
    height: 400px;
}

.homeh1 {
    padding-top: 200px;
    text-align: center;
}